* {
    max-width: 800px;
    margin: 0 auto;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.meuNome {
    padding: 30px 0 0;
    color: #6B4146;
}

body {
    padding: 20px;
    text-decoration: none;
    text-align: center;
    background-color: bisque;
}

a {
    color: #6B2129;
    padding: 50px;
}

#minha-foto {
    padding: 40px;
}

.descricao {
    padding: 0 0 30px;
}

.h2 {
    color: #6B4146;
}

.resido {
    color: #3B1613;
    padding: 0 0 10px;
}

.lista-habilidade {
    padding: 10px 0 30px;
}

.lista-habilidade li {
    padding: 5px;
    list-style: none;
}

.html {
    color: #F08924;
}

.css {
    color: #2328EB;
}

.footer {
    background-color: white;
    padding: 20px;
}